@model crud_operations.Models.Student

@{ 
	ViewData["Title"] = "Create new student";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new student</h2>

<div class="form-wrapper">
	<form action="/Student/AddStudent" method="post">
		@Html.ValidationSummary(true)
		<div>
			@Html.TextBoxFor(model => model.FirstName, new { @placeholder = "First name", @id = "text-box" })
			@Html.ValidationMessageFor(model => model.FirstName)
		</div>
		<div>
			@Html.TextBoxFor(model => model.LastName, new { @placeholder = "Last name", @id = "text-box" })
			@Html.ValidationMessageFor(model => model.LastName)
		</div>
		<div>
			@Html.TextBoxFor(model => model.Gender, new { @placeholder = "Gender", @id = "text-box" })
			@Html.ValidationMessageFor(model => model.Gender)
		</div>
		<div>
			@Html.DropDownList("MajorID", (SelectList)ViewBag.MajorID, "Select major")
		</div>
		<div>
			@Html.TextBoxFor(model => model.Year, new { @placeholder = "Year", @id = "text-box" })
			@Html.ValidationMessageFor(model => model.Year)
		</div>
		<div>
			<input type="submit" value="Create" />
		</div>
	</form>
</div>

<div>
	<a href="/Student/Index">Go back</a>
</div>