@model crud_operations.ViewModels.EditStudentVM

@{ 
	ViewData["Title"] = "Edit student";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit student</h2>

<div class="form-wrapper">
	<form action="/Student/EditStudent" method="post">

		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.StudentID)
		@Html.HiddenFor(model => model.MajorID)

		<div>
			@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @id = "text-box" } })
			@Html.ValidationMessageFor(model => model.FirstName)
		</div>
		<div>
			@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @id = "text-box" } })
			@Html.ValidationMessageFor(model => model.LastName)
		</div>
		<div>
			@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @id = "text-box" } })
			@Html.ValidationMessageFor(model => model.Gender)
		</div>
		<div>
			@Html.EditorFor(model => model.Year, new { htmlAttributes = new { @id = "text-box" } })
			@Html.ValidationMessageFor(model => model.Year)
		</div>
		<div>
			<input type="submit" value="Save" />
		</div>
	</form>
</div>

<div class="link-wrapper">
	<a id="button" href="/Student/Index">Cancel</a>
</div>