@model crud_operations.ViewModels.LoginAdminVM

@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<div>
		<h1>Login</h1>
	</div>
	<form action="/Home/Login" method="post">
		<div>
			@Html.TextBoxFor(m => m.Username, new { @placeholder = "Username" })
			@Html.ValidationMessageFor(m => m.Username)
		</div>
		<div>
			@Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @type = "password" })
			@Html.ValidationMessageFor(m => m.Password)
		</div>
		<div>
			@Html.ValidationMessage("AuthError")
		</div>
		<input type="submit" value="Login" />
	</form>
</body>