@model crud_operations.ViewModels.LoginAdminVM

@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h1>Login</h1>
</div>
<div class="form-wrapper">
	<form action="/Home/Login" method="post">
		<div>
			@Html.TextBoxFor(m => m.Username, new { @placeholder = "Username", @id = "text-box" })
			@Html.ValidationMessageFor(m => m.Username)
		</div>
		<div>
			@Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @type = "password", @id = "text-box" })
			@Html.ValidationMessageFor(m => m.Password)
		</div>
		<div>
			@Html.ValidationMessage("AuthError")
		</div>
		<input type="submit" value="Login" />
	</form>
</div>