@model crud_operations.Models.Major

@{ 
	ViewData["Title"] = "Add new major";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new major</h2>

<div class="form-wrapper">
	<form method="post" action="/Major/AddMajor">
		@Html.ValidationSummary(true)
		<div>
			@Html.TextBoxFor(model => model.MajorName, new { @id = "text-box", @placeholder = "Major name" })
			@Html.ValidationMessageFor(model => model.MajorName)
		</div>
		<div>
			@Html.TextBoxFor(model => model.Degree, new { @id = "text-box", @placeholder = "Degree type" })
			@Html.ValidationMessageFor(model => model.Degree)
		</div>
		<div>
			<input id="submit" type="submit" value="Add" />
		</div>
	</form>
</div>

<div>
	<a href="/Major/Index">Go back</a>
</div>